<div class="container">
    <main>
       <section class="introduction-section">
        <h1>Type 1v1</h1>
        <p>
            Challenge your friend and discover
            who types faster!
        </p>
       </section> 
       <div class="new-game-wrapper">
           <button class="new-game-button" (click)="openModal()">New Game</button>
           <ng-container *ngIf="isLoading">
                <app-loading />
           </ng-container>
       </div>
        <div class="new-game-wrapper">
           <button class="enter-game-button" (click)="openModal()">Enter Game</button>
           <ng-container *ngIf="isLoading">
                <app-loading [isLoading]="isLoading" />
           </ng-container>
       </div>

       <app-modal-input 
           [active]="modalActive" 
           (onConfirm)="newGame({playerOne})" 
           (inputText)="updatePlayerOne($event)" 
       />
    </main>
</div>
